# PostgreSQL
POSTGRES_URL=postgresql+asyncpg://postgres:password@localhost:[PORT]/db_name

# MongoDB
MONGO_URL=mongodb://localhost:[PORT]
MONGO_DB=database_name

# Redis
REDIS_URL=redis://localhost:[PORT]

# App
ENVIRONMENT=development
RATE_LIMIT=1000/minute
